<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />    
    </system.web>
  <appSettings>
    <add key="ConnectionString" value="server=bds291608448.my3w.com;uid=bds291608448;password=sqlhengbangjie;initial catalog=bds291608448_db;min pool size=5;max pool size=512;connect timeout = 20;" />
    <add key="Colors" value="PS4:#013d95;Switch:#e70014;PC:#5f5f5f;XBox:#0f7d0d"/>
  </appSettings>
    <system.webServer>
      <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="content-type" value="text/html; charset=utf-8" />
      </customHeaders>
    </httpProtocol>
      <staticContent>
 	      <remove fileExtension=".woff"/>
        <remove fileExtension=".woff2"/>
 	      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      </staticContent>
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="Default.htm" />
                <add value="test.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
